/*clock*/
.clock {
	border-radius: 50%;
	background: #fff url('https://cssanimation.rocks/images/posts/clocks/ios_clock.svg') no-repeat center;
	background-size: 88%;
	height: 80px;
	position: relative;
	width: 80px;
}

.clock.simple:after {
	background: #000;
	border-radius: 50%;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 5%;
	height: 5%;
	z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hours {
	background: #000;
	height: 20%;
	left: 48.75%;
	position: absolute;
	top: 30%;
	transform-origin: 50% 100%;
	width: 2.5%;
}
.minutes {
	background: #000;
	height: 40%;
	left: 49%;
	position: absolute;
	top: 10%;
	transform-origin: 50% 100%;
	width: 2%;
}
.seconds {
	background: #000;
	height: 45%;
	left: 49.5%;
	position: absolute;
	top: 14%;
	transform-origin: 50% 80%;
	width: 1%;
	z-index: 8;
}
.hours-container {
	animation: rotate 43200s infinite linear;
}
.minutes-container {
	animation: rotate 3600s infinite steps(60);
}
.seconds-container {
	animation: rotate 60s infinite steps(60);
}
@keyframes rotate {
	100% {
		transform: rotateZ(360deg);
	}
}


/*swiper*/
html, body {
	position: relative;
	height: 100%;
}
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}
.swiper-container {
	width: 100%;
	height: 90%;
	margin-top: 10px;
}
.container-swiper{
	padding: 0px;
	background: #eee;
	/*margin-top: 350px; */
	height: 355px;
	width: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	/*background: #fff;*/
	width: 155px;
	padding-top: 65px;
	/* Center slide text vertically */
	border-right: 2px solid #f7f7f7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: block;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
}

.img-country img{
	height: 50px;
	width: 80px;
}
.img-country{
	margin-bottom: 5px;
}
.name-country{
	margin-bottom: 50px;
}
.time-main-race{
	font-size: 20px;
	font-weight: bold;
}
.active-slider{
	width:625px;
	padding-top: 20px;
	cursor: auto;
}
.active-slider .name-country{
	margin-bottom: 10px;
}
.active-slider .name-race{
	font-weight: bold;
}
.active-slider .name-race a{
	color:#000;
}
.active-slider .name-race a:hover{
	text-decoration: none;
}
.active-slider .time-race{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}
.calendar-race ul{
	float: left;
	list-style: none;
	padding:0px;
	margin-bottom: 0px;
}
.calendar-race{
	float: left;
	padding-left: 110px;
	margin-right: 43px;
}
.container-clock{
	float: left;
	margin-left: 160px;
}
.practice-race{
	margin-right: 40px;
}
.calendar-race ul li{
	color: #919191;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 14px;
}
   